{% extends 'base.html.twig' %}
{% block stylesheet %}{{ encore_entry_link_tags('home') }}{% endblock %}
{% block body %}
    <nav class="navbar navbar-light bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
            </a>
        </div>
    </nav>
    <h1>Hello World !</h1>

{% endblock %}
