// Primary colors
$info: #337ab7;
$warning: #f37f2b;
$premuim: #e4454d;
$primary: #5a9449;

// 4 shade of grey
$black: #2a2a2a;
$dark-grey: #565656;
$medium-grey: #d6d6d6;
$light-grey: #e8e8e8;

// Font families
$default-font-family: 'Open Sans', 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font weights
$bold: 700;
$semi-bold: 600;
$regular: 400;
